* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img1.jpg) no-repeat center center /cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 65%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.accordion .accordion-title {
    margin-bottom: 30px;
    text-align: center;
}

.accordion .content-container .question {
    padding: 19px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;
}

.accordion .content-container .question::after {
    content: '+';
    position: absolute;
    right: -5px;
}

.accordion .content-container .answer {
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 0.5s;
}

/*java script styling link*/


.accordion .content-container.active .answer {
    height: 150px;
}

.accordion .content-container.active .question {
    font-size: 18px;
    transition: 0.5s;
}

.accordion .content-container.active .question::after {
    content: '-';
    font-size: 30px;
    transition: 0.5s;

}